<!-- About Section -->
    <section id="formacoes">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Formações</h2>
                    <h3 class="section-subheading text-muted">Essa é minha trajetória até agora.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/unic.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2021-2023</h4>
                                    <h4 class="subheading">Gestão de Tecnologia da Informação - Unicid</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Durante meu período de formação, adquiri uma visão estratégica sobre como a tecnologia pode ser usada para otimizar processos e transformar negócios.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/desc.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2024-2025</h4>
                                    <h4 class="subheading">Pós em Engenharia de Software - Descomplica</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Aprofundei meus conhecimentos em arquitetura de sistemas, qualidade de código, testes automatizados e metodologias ágeis, com práticas modernas para o desenvolvimento de soluções robustas e escaláveis.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/dados.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Maio de 2025</h4>
                                    <h4 class="subheading">Transição para a área de Dados</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Depois que terminei minha pós, resolvi tentar entrar para a área de Dados. Me interessei em ferramentas como Python, SQL, Power BI, ETL e modelagem de dados para transformar informações em decisões estratégicas.</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/breve.jpg" alt="">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>