<!-- Team Section -->
<section id="habilidades" data-aos="fade-up">
    <div class="container py-5">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">{{ site.data.template.title.habilidades }}</h2>
        </div>

        <div class="row mb-5">
            <div class="col-md-6 mb-4">
                <!-- Hard Skills -->
                <div class="skill-section card h-100">
                    <div class="card-header">
                        <i class="fa-solid fa-code"></i> Hard Skills
                    </div>
                    <div class="card-body col-md-10">
                        <div class="badge col-auto hard-skill-card badge-excel">Excel</div>
                        <div class="badge col-auto hard-skill-card badge-powerbi">Power BI</div>
                        <div class="badge col-auto hard-skill-card badge-mysql">MySQL</div>
                        <div class="badge col-auto hard-skill-card badge-python">Python</div>
                        <div class="badge col-auto hard-skill-card badge-github">GitHub</div>
                        <div class="badge col-auto hard-skill-card badge-pandas">Pandas</div>
                        <div class="badge col-auto hard-skill-card badge-numpy">NumPy</div>
                        <div class="badge col-auto hard-skill-card badge-etl">ETL</div>
                        <div class="badge col-auto hard-skill-card badge-html">HTML</div>
                        <div class="badge col-auto hard-skill-card badge-css">CSS</div>
                        <div class="badge col-auto hard-skill-card badge-javascript">JavaScript</div>
                        <div class="badge col-auto hard-skill-card badge-figma">Figma</div>
                    </div>
                </div>
            </div>

            <!-- Soft Skills -->
            <div class="col-md-6 mb-4">
                <div class="skill-section card h-100">
                    <div class="card-header">
                        <i class="fa-solid fa-bolt"></i> Soft Skills
                    </div>
                    <div class="card-body col-md-10">
                        <div class="badge col-auto card-item text-muted soft-skill-card"><i class="bi bi-caret-right-fill"></i>Trabalho em equipe</div>
                        <div class="badge col-auto card-item text-muted soft-skill-card"><i class="bi bi-caret-right-fill"></i>Storytelling com dados</div>
                        <div class="badge col-auto card-item text-muted soft-skill-card"><i class="bi bi-caret-right-fill"></i>Organização</div>
                        <div class="badge col-auto card-item text-muted soft-skill-card"><i class="bi bi-caret-right-fill"></i>Pensamento analítico</div>
                        <div class="badge col-auto card-item text-muted soft-skill-card"><i class="bi bi-caret-right-fill"></i>Empatia</div>
                        <div class="badge col-auto card-item text-muted soft-skill-card"><i class="bi bi-caret-right-fill"></i>Gestão de tempo</div>
                        <div class="badge col-auto card-item text-muted soft-skill-card"><i class="bi bi-caret-right-fill"></i>Comunicação</div>
                    </div>
                </div>
            </div>

            <!-- Metodologias Ágeis -->
            <div class="card text-center pt-5 position-relative col-md-4 met-section">
                <div class="floating-icon position-absolute top-0 start-50 translate-middle">
                    <i class="bi bi-kanban-fill fa-2x"></i>
                </div>
                <div class="card-body mt-4 met-card">
                    <h5 class="card-title">Kanban</h5>
                    <p class="card-text">Organização visual de tarefas e fluxos para equipes ágeis e produtivas.</p>
                </div>
            </div>
            <div class="card text-center pt-5 position-relative col-md-4 met-section">
                <div class="floating-icon position-absolute top-0 start-50 translate-middle">
                    <i class="bi bi-palette-fill fa-2x"></i>
                </div>
                <div class="card-body mt-4 met-card">
                    <h5 class="card-title">Design UX/UI</h5>
                    <p class="card-text">Estruturação intuitiva de interfaces com foco na experiência do usuário.</p>
                </div>
            </div>
            <div class="card text-center pt-5 position-relative col-md-4 met-section">
                <div class="floating-icon position-absolute top-0 start-50 translate-middle">
                    <i class="bi bi-book-half fa-2x"></i>
                </div>
                <div class="card-body mt-4 met-card">
                    <h5 class="card-title">Documentação</h5>
                    <p class="card-text">Escrita clara e estratégica para registros técnicos e comunicação eficiente.</p>
                </div>
            </div>
        </div>
</section>