<!-- Team Section -->
    <section id="habilidades" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading small">Hard Skills</h2>
                    <h3 class="section-subheading text-muted">Habilidades Técnicas</h3>
                </div>
            </div>
            <div>
                <div>
                    <div class="wrapper">
                        <div class="itemLeft item1 bg-light-gray">Excel</div>
                        <div class="itemLeft item2 bg-light-gray">Power BI</div>
                        <div class="itemLeft item3 bg-light-gray">MySQL</div>
                        <div class="itemLeft item4 bg-light-gray">Python & Pandas</div>
                        <div class="itemLeft item5 bg-light-gray">Power Automate</div>
                        <div class="itemLeft item6 bg-light-gray">Git & GitHub</div>
                        <div class="itemLeft item7 bg-light-gray">Power Apps</div>
                        <div class="itemLeft item8 bg-light-gray">Análise de Dados</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Soft Skills</h2>
                    <h3 class="section-subheading text-muted">Habilidades Interpessoais</h3>
                </div>
            </div>
            <div>
                <div>
                    <div class="wrapper">
                        <div class="itemRight item1 bg-light-gray">Comunicação</div>
                        <div class="itemRight item2 bg-light-gray">Trabalho em equipe</div>
                        <div class="itemRight item3 bg-light-gray">Organização</div>
                        <div class="itemRight item4 bg-light-gray">Flexibilidade</div>
                        <div class="itemRight item5 bg-light-gray">Pensamento analítico</div>
                        <div class="itemRight item6 bg-light-gray">Gestão de tempo</div>
                        <div class="itemRight item7 bg-light-gray">Inteligencia emocional</div>
                        <div class="itemRight item8 bg-light-gray">Empatia</div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>