<!-- Sobre mim Section -->
<section id="sobre-mim" class="bg-light-gray">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">{{ site.data.template.title.sobre-mim }}</h2>
        </div>
    </div>
    <div class="row align-items-center">
      <!-- Foto de perfil -->
      <div class="col-md-4 text-center mb-4 mb-md-0 imagem-perfil animate-on-scroll fade-in">
        <img src="img/sobre-mim/pedro.png" alt="Pedro Gutierre" class="img-fluid">
      </div>

      <!-- Texto e links -->
      <div class="col-md-8 scobre-mim-content animate-on-scroll zoom-in">
        <h3 class="fw-bold">Pedro Gutierre</h3>
        <h5 class="fw-bold text-muted">Analista de Dados | Transformando Informações em Estratégia</h5>
        <p class="text-muted">Ajudo empresas a transformar dados brutos em decisões inteligentes. Minha paixão é encontrar as oportunidades escondidas nos números para otimizar processos e gerar resultados reais.</p>
        <p class="text-muted">Com uma base sólida em Gestão de TI e Engenharia de Software, desenvolvi uma abordagem que une pensamento analítico e conhecimento técnico para construir soluções de dados eficazes. Para mim, cada conjunto de dados é um quebra-cabeça, e adoro o desafio de encontrar a peça que revela uma nova oportunidade de negócio ou melhora um processo existente.</p>
        <p class="text-muted">Acredito que a colaboração é a chave para o sucesso. Gosto de trabalhar em equipe, compartilhar aprendizados e construir soluções que não apenas funcionem tecnicamente, mas que façam sentido para as pessoas. Estou sempre buscando evoluir e acredito que cada projeto é uma chance de gerar um impacto positivo.</p>

        <hr class="divisao-sobre-mim">

        <div class="social-icons">
          <a href="https://drive.google.com/file/d/13Lrx8f-adycV4GE4cGWEQHw36lyEvDCr/view?usp=sharing" target="_blank" class="social-icon"
            data-toggle="tooltip" data-placement="top" title="Veja meu Cúrriculo">
            <i class="fa-solid fa-file"></i>
          </a>

          <a href="https://github.com/Pedro-Gutierre18" target="_blank" class="social-icon" 
            data-toggle="tooltip" data-placement="top" title="Veja meus projetos no GitHub">
            <i class="fab fa-github"></i>
          </a>

          <a href="https://www.linkedin.com/in/pedro-gutierre/" class="social-icon"
          data-toggle="tooltip" data-placement="top" title="Meu Linkedin">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://www.instagram.com/pedro.gutierre.144?igsh=YzljYTk1ODg3Zg==" class="social-icon"
          data-toggle="tooltip" data-placement="top" title="Meu Instagram">
            <i class="fab fa-instagram"></i>
          </a>
        </div>

      </div>
    </div>
  </div>
</section>