<!-- Sobre mim Section -->
<section class="bg-light-gray" id="sobre-mim" data-aos="fade-up">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">{{ site.data.template.title.sobre-mim }}</h2>
        </div>
    </div>
    <div class="row align-items-center">
      <!-- Foto de perfil -->
      <div class="col-md-4 text-center mb-4 mb-md-0 imagem-perfil">
        <img src="img/sobre-mim/1.png" alt="Pedro Gutierre" class="img-fluid">
      </div>

      <!-- Texto e links -->
      <div class="col-md-8" data-aos="zoom-in">
        <h3 class="fw-bold">Pedro Gutierre</h3>
        <p class="text-muted">Sou um entusiasta da área de dados, movido pela curiosidade e pelo desejo de transformar informações em soluções reais. Com formação técnica em Gestão de TI e pós-graduação em Engenharia de Software, venho construindo uma trajetória que une conhecimento técnico, pensamento analítico e uma abordagem prática voltada para resultados. Acredito que dados bem trabalhados têm o poder de revelar oportunidades, otimizar processos e apoiar decisões estratégicas.</p>
        <p class="text-muted">Além da parte técnica, valorizo a colaboração, a troca de ideias e o aprendizado contínuo. Gosto de explorar novas ferramentas, participar de projetos desafiadores e contribuir com soluções que façam sentido para pessoas e negócios. Estou sempre em busca de evoluir — como profissional e como pessoa — e acredito que cada projeto é uma chance de crescer, compartilhar e impactar positivamente.</p>
      </div>
    </div>
  </div>
</section>