<!-- Sobre mim Section -->
<section class="bg-light-gray" id="sobre-mim">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Sobre mim</h2>
            <h3 class="section-subheading text-muted">Conheça mais sobre mim.</h3>
        </div>
    </div>
    <div class="row align-items-center">
      <!-- Foto de perfil -->
      <div class="col-md-4 text-center mb-4 mb-md-0 imagem-perfil">
        <img src="img/sobre-mim/1.png" alt="Pedro Gutierre" class="img-fluid rounded-circle shadow" style="max-width: 250px;">
      </div>

      <!-- Texto e links -->
      <div class="col-md-8">
        <h2 class="fw-bold">Pedro Gutierre</h2>
        <p>Sou um entusiasta da área de dados, movido pela curiosidade e pelo desejo de transformar informações em soluções reais. Com formação técnica em Gestão de TI e pós-graduação em Engenharia de Software, venho construindo uma trajetória que une conhecimento técnico, pensamento analítico e uma abordagem prática voltada para resultados. Acredito que dados bem trabalhados têm o poder de revelar oportunidades, otimizar processos e apoiar decisões estratégicas.</p>
        <p>Além da parte técnica, valorizo a colaboração, a troca de ideias e o aprendizado contínuo. Gosto de explorar novas ferramentas, participar de projetos desafiadores e contribuir com soluções que façam sentido para pessoas e negócios. Estou sempre em busca de evoluir — como profissional e como pessoa — e acredito que cada projeto é uma chance de crescer, compartilhar e impactar positivamente.</p>
        <div class="mt-3 icones">
          <a href="https://github.com/Pedro-Gutierre18" target="_blank" class="btn">
            <i class="fa-brands fa-github fa-2xl"></i>
          </a>
          <a href="https://www.linkedin.com/in/pedro-gutierre/" target="_blank" class="btn">
            <i class="fa-brands fa-linkedin fa-2xl"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>